<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Horário</title>

    <link href="https://unpkg.com/tabulator-tables@4.8.4/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.8.4/dist/js/tabulator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    {% load static %}
    <script type="text/javascript" src="{% static 'gestaodehorarios/scripts/funcoesHorario.js' %}"></script>
    <link rel="stylesheet" href="{% static 'gestaodehorarios/css/estilo.css' %}">
</head>
<body>
<h1>Horário</h1>

<div id="salasDisponiveis"></div>

<div>
    <a href= "{% url 'gestaodehorarios:carregar_salas' %}" ><button class="botaoMudarPagina" id="verSalas">Ver cadastro de salas do Iscte</button></a>
</div>


<div class="dropdown">
    <button class="dropbtn">Selecione as Colunas Visíveis</button>
    <div class="dropdown-content">
        <label><input type="checkbox" name="column" value="curso"
                      checked>Curso</label> <label><input type="checkbox"
                                                          name="column" value="uc" checked>Unidade Curricular</label>
        <label><input
                type="checkbox" name="column" value="turno" checked>Turno</label> <label><input
            type="checkbox" name="column" value="turma" checked>Turma</label> <label><input
            type="checkbox" name="column" value="inscritos" checked>Inscritos
        no Turno</label> <label><input type="checkbox" name="column"
                                       value="dia" checked>Dia da Semana</label> <label><input
            type="checkbox" name="column" value="horaInicio" checked>Hora
        início da Aula</label> <label><input type="checkbox" name="column"
                                             value="horaFim" checked>Hora fim da Aula</label> <label><input
            type="checkbox" name="column" value="data" checked>Data da
        Aula</label> <label><input type="checkbox" name="column"
                                   value="caracteristicas" checked>Características da Sala</label> <label><input
            type="checkbox" name="column" value="sala" checked>Sala
        Atribuída</label> <label><input type="checkbox" name="column"
                                        value="semanaAno" checked>Semana do ano</label> <label><input
            type="checkbox" name="column" value="semanaSemestre" checked>Semana
        do semestre</label>
    </div>
</div>
<br>

<div id="example-table"></div>
<script>
    iniciarTabelaHorario({{ dados_para_tabela|safe }});
</script>

<div>
    <button class="botaoMudarPagina" id="sugerirSlotSubstituicao">Sugerir slot para aula de substituição</button>
    <button class="botaoMudarPagina" id="sugerirAlocacao">Sugerir slots para alocação das aulas de uma UC</button>
</div>

<div>
    <label for="aulas">Escolha uma aula:</label>
    <select name="aulas" id="aulas">
    {% for aula in dados_para_tabela %}
        <option value="{{ aula.curso }} - {{ aula.uc }} - {{ aula.turno }}">{{ aula.curso }} - {{ aula.uc }} - {{ aula.turno }}</option>
    {% endfor %}
    </select>
</div>

</body>
</html>